@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*font-family: 'Poppins', sans-serif;*/



body{
	background: url('../_img/fundo.jpg');
	background-size: 100%;
	background-attachment: fixed;
}

/*				ESTILO DO CABEÇALHO				*/



header{
	background: linear-gradient(#000000, #444444);
	height: 8em;
	padding: 1em 0;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
	box-shadow: 0 0 7px black;
}

.cabeca{
	position: relative;
	width: 940px;
	margin: 0 auto;
	text-align: right;
	float: center;
}

.logo-max{
	position: absolute;
	width: 11em;
	left: 0;
}

.lista-navegacao{
  
}

.links-navegacao{
	display: inline-block;
	margin: 1em;
	font-family: 'Poppins', sans-serif;
}

.ancora-navegacao{
	text-decoration: none;
	color: white;
}

.links-navegacao:hover{
	text-decoration: underline;
}

.icone-social-link{
	width: 2em;
}

.menu-mobile, .menu-mobile-ancora{
	display: none;
}




/*				ESTILO DO CONTEÚDO				*/

.mostrar-fundo{
	height: 35em;
}

.mostrar-fundo2{
	height: 15em;
}

.o-restaurante-fundo{
	background: #222222;
}

.o-restaurante{
	width: 940px;
	margin: 0 auto;
	text-align: center;
	color: white;
	font-family: 'Poppins', sans-serif;
	padding: 4em 1em;
	box-sizing: border-box;
}

.titulo-principal{
	text-transform: uppercase;
	font-size: 2em;
	font-weight: bold;
}

.o-restaurante-descricao, .vem-pra-max{
	margin: 1em 0 0 0;
}

.vem-pra-max{
	text-transform: uppercase;
}

.delivery-fundo{
	background: #000000;
}

.delivery{
	position: relative;
	width: 940px;
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
	padding: 5em 0;
}

.lista-apps{
	display: inline-block;
}

.lista-icone-delivery{
	display: inline-block;
	margin: 0 2em 0 0;
}

.icone-delivery{
	width: 8em;
}

.cardapio-goomer{
	position: absolute;
	display: inline-block;
	right: 0;
	text-align: center;
}

.icone-goomer{
	position: static;
	width: 100%;
}

.pedir-goomer{
	color: white;
	font-family: 'Poppins', sans-serif;
}

.cardapio-fundo{
	background: url(../_img/fundo-cardapio.png);
	border-bottom: 3px solid #000000;
}

.caixa-cardapio{
	width: 940px;
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
	padding: 1em 0;
}

.titulo-secundario{
	text-align: center;
	color: white;
	font-size: 2em;
	text-transform: uppercase;
	padding: 1em 0;
	font-family: 'Poppins', sans-serif;
}

.lista-cardapio{
	text-align: center;
}

.itens-cardapio img{
	width: 250px;
	border-radius: 15px;
}

.itens-cardapio{
	display: inline-block;
	margin:2%;
	border: 2px solid #F2B705;
	border-radius: 15px;
	transition: 500ms all;
}

.itens-cardapio:hover{
	transform: scale(1.1);
}

.fundo-contato{
	background: #000000;
	opacity: 0.9;
}

.contato{
	width: 940px;
	margin: 0 auto;
	text-align: center;
	color: white;
	font-family: 'Poppins', sans-serif;
}

.informacao-contato{
	font-size: 1.5em;
	font-family: 'Poppins', sans-serif;
}

.whatsapp{
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
}

.icone-whatsapp{
	width: 8em;
	border-radius: 83px;
	background: #fefefe;
	border: 2px solid #fefefe;
	margin: 1em;
	transition: 400ms all;

}

.icone-whatsapp:hover{
	background: green;
	border: 2px solid green;
	transform: scale(1.1);
}

.botao-maps{
	display: inline-block;
	padding: 1em;
	margin: 3em;
	border: 1px solid #fefefe;
	border-radius: 10px;
	text-decoration: none;
	color: #fefefe;
}





/*				ESTILO DO RODAPÉ				*/


footer{
	background: #000000;
	height: 200px;

}
.rodape{
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 1em 0;
	text-align: center;
}

.rodape p{
	font-family: 'Poppins', sans-serif;
	color: white;
	text-align: center;
	border-top: 1px solid #222222;
	padding-top: 1em;
}








@media screen and (max-width: 939px){

	header{
		max-height: 18em;
		height: 100%;
		width: 100%;
	}

	header nav, .cabeca, .o-restaurante, .delivery, .caixa-cardapio, .contato, .rodape{
		width: 100%;
	}

	.logo-max{
		position: static;
	}

	.cabeca{
		text-align: center;
	}

	.cardapio-goomer{
		right: 10px;
	}

	footer{
		height: 100%;
	}

	

}



@media screen and (max-width: 480px){


	body{
		background-attachment: fixed;
	}

	header{
		position: static;
		height: 13em;
	}

	.lista-navegacao{
		display: none;
	}

	.menu-mobile-ancora{
		display: block;
		text-decoration: none;
		color: white;
		font-family: 'Poppins', sans-serif;

	}

	.menu-mobile{
		color: #F2B705;
		background: #000000;
		display: inline-block;
		border: 1px solid #F2B705;
		border-radius: 15px;
		padding: 1em;
		margin: 1em;
	}

	.cabeca, nav, .o-restaurante, .delivery, .caixa-cardapio, .contato, .rodape{
		width: 100%;
	}

	.cabeca{
		text-align: center;
		box-sizing: border-box;
	}

	.logo-max{
		position: static;
		width: 8em;
	}

	.links-navegacao{
		display: block;
		margin: 3px;
	}

	.mostrar-fundo{
		height: 10em;
	}

	.delivery{
		padding: 2em 1em;
		height: 100%;
		box-sizing: border-box;
	}
	
	.delivery .titulo-secundario{
		padding: 0 0 1em 0;
		position: static;
	}

	.lista-apps, .cardapio-goomer{
		display: block;
		text-align: center;
		width: 80%;
		margin: 0 auto;
	}

	.lista-icone-delivery{
		margin: 0 0 2em 0;
	}

	.cardapio-goomer{
		position: static;
	}

	footer{
		height: 100%;
	}

	.rodape p{
		box-sizing: border-box;
	}
}

@media screen and (max-width: 330px){

	.botao-maps{
		margin: 3em auto;
	}
}